@yellow: #ffea00;
@white:#fff ;
@orange: #ff742b;

.jptseriffont {
	.ptserif_font()
}

.fredoka_font(){
		font-family: 'Fredoka One', cursive;
}
.relaway_font() {
		font-family: 'Raleway', sans-serif;
}
.ptserif_font(){
	font-family: 'PT Serif', serif;
}
.quicksand_font(){
	font-family: 'Quicksand', serif;
	font-weight: 700;
}

body {
		.relaway_font();
		background-color: #fff9e7;
		.container {
			background:url("../img/bg.png") no-repeat bottom right  #fff9e7 ;
		}
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin:0 auto;
}
.container_responsive_button {
	display: none;
}

.header-top .inner_header nav > ul > li {
.quicksand_font();
}
.header-top {
	width: 100%;
	height: 48px;
	background: @orange;
	background: linear-gradient(#ff8331,#ff6626);
	.inner_header {
		display: flex;
		align-items: center;
		height: 48px;

		.logo {
			
			align-self: flex-end;
			img {
				display: block;
			}
		}
		.main_navigation{
			flex-grow:2;
			.fas {
				display: none;
			}

		}
		.header_cart {
			.quicksand_font();
			font-size: ;

			color:#fff;


			.cart_counter {
				border-right: 1px dotted rgba(255,255,255,.3) ;
				padding-left:7px;
				padding-right:10px;
				margin-right: 7px
			}

			i {
				color: @yellow;
			}
			a.ptseriffont {
				font-style: italic;
				color: @yellow;
				font-size: 14px;

			}
		}

		nav {
			.quicksand_font();
			text-transform: uppercase;
			> ul {
				font-size: 0px;
				> li {
					display: inline-block;
					font-size: 12px;
					margin:0 17px;
					border-top: solid 2px  transparent;
					position: relative;
					ul.sub-menu {
						z-index: 3;
						&::before {
							content:"";
   						display:block;
   						width: 0;
   						height: 0;
   						border-style: solid;
   						border-width: 0 4.5px 5px 4.5px;
   						border-color: transparent transparent #ffffff transparent;
   						position: absolute;
   						top:-5px;
   						left: 34px;
						}
						position: absolute;
						top:100%;
						left:0;
						padding:;
						background: #fff;
						box-shadow: 5px 5px 0 rgba(0,0,0,0.07);

						li {
							margin: 0 25px ;
							&:hover {
								border-color: transparent;
								a {
									color:@orange;
								}
							}
						}
						a {
							color: #8d8c8b;
						}
						display:none;
					}
					&:hover {
							ul.sub-menu{
							display:block;
						}
							a {
							color: @yellow;
						}

						border-top: 2px solid @yellow;
					}
					a {
						color: #fff;
						text-decoration: none;
						line-height:46px;
						display: block;
						
					}
				}
			}
		}
	}
}

.home_slider {
	position: relative;
	ul.slick-dots {
		position: absolute;
		top:50%;
		left:0;
		margin-top: -0px;
		margin-left:40px;
		button {
			background: none;
			border: none;
			width:10px;
			height:10px;
			font-size: 0;
			display: block;
			background: rgba(0,0,0,.1);
			padding:0;
			margin:0;
			margin-bottom: 24px;
			border-radius: 100%;
		}
		li.slick-active button{
			background: rgba(0,0,0,.4);
		}
	}
	.slide {
		padding-top: 100px;
		background-position: center;
		background-size: cover;
		min-height: 674px;
		box-sizing:border-box;
		.slide_title {
			.fredoka_font();
			font-size: 68px;
			text-align: center;
			color: #fff;
			text-shadow: 7px 7px 0 rgba(0,0,0,.1) ;
			line-height: 82px;


		}
		.slide_data {
			display: flex;
			align-items: center;
			padding-bottom: 35px;
			min-height: 410px;
		}
		.slide_description {
			width: 37%;
			z-index: 2;
			padding-left: 90px;
			box-sizing: border-box;

			.data_type {
				.fredoka_font();
				color: @yellow;
				margin-bottom: 25px;
				line-height: 24px;
				font-size: 24px;
				display: inline-block;
			}
			p.data_description {
				color: #fff;
				font-size: 12px;
				line-height: 24px;
				.relaway_font();
				font-weight: 500;
				margin-bottom: 20px
			}
			.data_site {
				color: #fff;
				font-size: 23px;
				.ptserif_font();
				font-style: italic;
				line-height: 28px;
				padding-top: 30px;

			}
		}
		.image_price {
			width: 50%;
			margin-left: -60px;
			z-index: 1;
			position: relative;
			.slide_price  {
				position: absolute;
				margin-top: -71px;
				right: 0;
				top: 50%;
				width: 143px;
				height:143px;
				background-color: #4ba321;
				border-radius: 50%;
				color: @yellow;
				display: flex;
				align-items:center;
				justify-content: center;
				span {
					.fredoka_font();
					font-size: 54px;
					text-shadow: 7px 7px 0 rgba(0,0,0,.1);
				}
			}
		}
	}
}

section.about_us {
	padding: 30px 0 50px 0;
	box-sizing: border-box;
	text-align: center;
	h1.title {
		color:#a07258;
		font-size: 54px;
		.fredoka_font();
		border-bottom: 1px solid rgba(160,114,88,.3);
		display:inline-block;
		margin-bottom: 25px;
		line-height: 90px
	}
	span.subtitle {
		display:block;
		color: #cc9966;
		.ptserif_font();
		font-size: 23px;
		padding: 0 8%;
		line-height: 1.4;
		margin-bottom:40px ;
	}
	p.description {
		color:#a07258;
		font-size: 12px;
		.relaway_font(); 
		padding: 0 10%;
		line-height: 18px
	}
}

div.search_box {
	margin-bottom: 60px;
	form.search {
		display: flex;

		input[type="text"] {
			padding: 0;
			border: 0;
			margin:0;
			width:~"calc(100% - 181px)";
			height: 78px;
			border-top: 3px solid #ffeb90;
			border-bottom: 3px solid #ffeb90;
			border-left: 3px solid #ffeb90;
			font-size: 22px;
			color: #a07258;
			padding-left: 25px;
			padding-right: 25px;
			box-sizing: border-box;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 				color:rgba(160,114,88,.3);
			}
			&::-moz-placeholder { /* Firefox 19+ */
			 color:rgba(160,114,88,.3);
			}
			&:-ms-input-placeholder { /* IE 10+ */
			 color:rgba(160,114,88,.3);
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color:rgba(160,114,88,.3);
			}
		}



		button[type="submit"] {
			background: linear-gradient(#ff6b22, #ff4817);
			color: #fff;
			font-size: 22px;
			.fredoka_font();
			height: 78px;
			width:180px ;
			border:0;
			margin:0;
			padding: 0;
			border-bottom: 3px solid #ff4817;
			i {
				color: #ffeb90;
				margin-left: 5px;
			}
			
			&:hover{
				cursor: pointer;
				background: linear-gradient(#ff4817, #ff6b22);
			}
		}
	}
}

.info_box {
	
	color: #fff;
	
	.info_align {
		display: flex;
		align-items: stretch;
	}


	.video_box{
		width: 50%;
		background: #000;
		padding: 41px 0;
		color:#fff;


		img {
			max-width: 100%;
			height: auto;
			opacity: 0.5;
		}

		figure {
			position :relative;
			display: block;
			img.responsive_video {
				display: none;
			}

			figcaption {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				a {
					color: inherit;
					margin-right: 35px;
					&:hover {
						color:@yellow;
						.play-icon {
							background: rgba(0,0,0,.35)
						}
					}
				}

				.play-icon {
					
					background-color: rgba(0,0,0,.5);
					width: 90px ;
					height: 90px;
					border-radius: 100%;
					text-align: center;
					line-height: 90px;
					font-size: 25px;
					display: block;
				}
				.title_data {
						.video_title {
							font-size: 33px;
							.fredoka_font();
							margin-bottom: 5px;
						}
						.video_subtitle {
							font-size: 12px;
							.relaway_font();

						}
				}

			}
		}

	}
	.author_box {
		width: 50%;
		background: #56a928 url("../img/additional/man.jpg") right bottom no-repeat ;
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;

		.fa-quote-left {
			position: absolute;
			top: 0;
			left: 0;
			color: rgba(0,0,0,.1) ;
			font-size: 100px;
			margin-top: 35px;
			margin-left: -30px;
		}
		
		.data_offer {
			color: #fff;
			margin-left: 60px;
			max-width: 220px;

			span.name {
				font-size: 24px;
				display: block;
				.ptserif_font();
				font-weight: 600;
				margin-bottom: 12px;
				line-height: 24px;
			}
			.offer_prof {
				font-size: 12px;
				color: #b8ece8;
				.relaway_font();
				margin-bottom: 18px;
				display: block;
			}
			.offer_description {
				font-size: 13px;
				line-height: 24px;
				margin-bottom: 0; 
				.ptserif_font();
				font-style: italic;
			}
		}
	}
}


.shop_slide {

	.shop-caroousel {
		background: #fff;
		display: flex;
		.item {
			width: 25%;
			box-sizing: border-box;
			border-right:1px solid #f8f4f3;
			max-height:356px;
			overflow: hidden;

			&:hover {
				.item_image {
					margin-top: -67px;
					-webkit-transition: all 300ms ease-in-out; /* Safari */
  				transition: all 300ms ease-in-out;
				}
			}

			.item_image {
				min-height: 273px;
				display: flex;
				justify-content: center;
				align-items: center;
				-webkit-transition: all 300ms ease-in-out; /* Safari */
  			transition: all 300ms ease-in-out;
			}
			h4.item_title {
				color: #828282;
				font-size: 12px ;
				text-align: center;
				padding: 10px 0;
			}
			span.item_price {
				.fredoka_font();
				font-size: 24px;
				text-align: center;
				display: block;
				padding: 10px 0;
			}
			a.item_button {
					display: block;
					width: 100%;
					height:67px ;
					line-height: 67px;
					border-bottom: 3px solid #e7311e;
					background: linear-gradient(#f74f30, #f33520);
					.fredoka_font();
					color: #fff;
					font-size: 28px;
					text-align: center;
					align-items: center;
					text-decoration: none;

					&:hover {
					background: linear-gradient(#ca4027, #c72a19);
					
					}


					i {
						color: @yellow;
						font-size: 20px;
						padding-right: 8px ;
					}
			}
		}
	}






	.top_title_line	{
		  min-height: 81px;
		  background: linear-gradient(#ff6b22, #ff4917);
		  display: flex;
		  align-items: center;

		  .shop_slider-navigation {
		  	display: flex;
		  	align-items: stretch;
		  	.left {
		  		width: 55px;
		  		height: 100%;
		  		background: #eb4516;
		  		color: #ffcaae;
		  		font-size: 20px;
		  		text-align: center;
		  		line-height: 81px;
		  		border-right: 1px solid #df4115;
		  	}
		  	.right {
		  		width: 55px;
		  		height: 100%;
		  		background: #eb4516;
		  		color: #ffcaae;
		  		font-size: 20px;
		  		text-align: center;
		  		line-height: 81px;
		  	}
		  	.left,.right {
		  		&:hover {
		  			background: #c9360d;
		  			color: #fff;
		  			cursor: pointer;
		  		}
		  	}
		  }

		  .shop_box_title {
		  	flex-grow: 1;
		  	text-align: center;
		  	.fredoka_font();
		  	color: #fff;
		  	font-size: 43px;
		  }
		  .shop_category {
		  	padding-right: 28px;
		  	font-size: 14px;
		  	.ptserif_font();
		  	color: #ffcb78;
		  	.dropdownlist {
		  		cursor: pointer;
		  	}
		  	span {
		  		color: #fff;
		  		margin: 0 4px;
		  		text-transform: uppercase;
		  		.quicksand_font();
		  		border-bottom: 1px dotted;
		  	}

		  	i {
		  		font-size: 8px;
		  	}
		  }
	}
}

.information_box {
 .banana_box {
 	width: 100%;
 	min-height: 516px;
 	background: url(../img/additional/banana.jpg) no-repeat center center;
 	background-size:cover;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 		h3.title_box {
 			font-size: 43px;
 			.fredoka_font();
 			color:#fff;
 			line-height:43px ;
 			padding-bottom: 40px;
 			border-bottom: 1px solid rgba(255,255,255,.3);
 			line-width: 740;
 			text-shadow: 5px 5px 0 rgba(0,0,0,.1) ;
 			letter-spacing: 0.74em;
 			margin-bottom: 30px;
 		}
 		p.description {
			font-size: 24px;
			.ptserif_font();
			color: #fff;
			line-height: 36px;
			padding: 0 14%;
			text-shadow: 2px 2px 0 rgba(255,116,43,.2) ;
			text-align: center;
			margin-bottom: 40px;
 		}
 		a.info_link {
			color: @orange;
			background: #fff;
			text-transform: uppercase;
			display:block;
			padding: 12px 22px;
			border-radius: 20px;
			text-decoration: none;
			.quicksand_font();
			box-shadow: 2px 2px 0 rgba(255,116,43,.2) ;
			-webkit-transition: all 300ms ease-in-out; /* Safari */
  		transition: all 300ms ease-in-out;

				&:hover {
					box-shadow: 0px 0px 0 rgba(255,116,43,.2) ;
					-webkit-transition: all 300ms ease-in-out; /* Safari */
  				transition: all 300ms ease-in-out;

				}
 		}
 }
}

.blog_testimonials {
	.blog_container {
		display: flex;
		align-items: stretch;
		background: #fff;
		.left_blog {
			padding: 40px;
			box-sizing: border-box;
			text-align: center;
			width: 270px;
			border-right: 1px solid #f2f2f2;
			h3.blog_box_title {
				color: @orange;
				.fredoka_font();
				font-size: 64px;
				line-height: 63px;
				margin-bottom: 30px;
			}
			form { 
				margin-bottom:37px;
				label {
					color:@orange;
					font-size: 12px;
					.relaway_font();
					line-height: 12px;
					margin-bottom: 16px;
					display: block;

				}
				.custom_search {
					background: linear-gradient(#ff6726, #ff8230);
					height: 34px;
					width: 100% ;
					border-top: 3px solid #f26124;
					border-radius: 20px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					input[type="text"] {
						height: 33px;
						padding: 0;
						margin: 0;
						border: 0;
						background: transparent;
						padding-left: 17px;
						padding-right: 17px;
						box-sizing: border-box;
						flex-grow: 1;
						color:#ffb38b;
						font-size: 12px;
						font-weight: 500;
						margin-bottom: 3px;
						width:~"calc(100% - 40px)";
							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				 				color:#ffb38b;
							}
							&::-moz-placeholder { /* Firefox 19+ */
							color:#ffb38b;
							}
							&:-ms-input-placeholder { /* IE 10+ */
							 color:#ffb38b;
							}
							&:-moz-placeholder { /* Firefox 18- */
							  color:#ffb38b;
							}
					}
					button.submit {
						background: transparent;
						border:none;
						margin-right: 15px;
						color: #fff;
						
					}
				}
			}
			.blog_list {
					article {
						margin-bottom: 30px;
						border-bottom: 1px solid #f2f2f2;
						padding-bottom: 30px;
						.blogpos_info {
							color: #bdbcbb;
							padding: 15px 0;
							.post_date i {
								margin-right: 8px;
							}
							.post_comments i {
							margin-left: 8px;
							margin-right: 6px;

							}
						}
						&:last-child {
							margin-bottom: 0;
							border:0;
							padding-bottom: 0;
							
						}
						h4.post_title {
							font-size: 16px;
							color :#000;
							.ptserif_font();
							line-height: 20px;

							 a {
							 	color: inherit;
							 	text-decoration: none;

							 	 &:hover {
							 	 	text-decoration: underline;
							 	 	opacity: 0.7;
							 	 }
							 }

						}
					}
				}
		}
		.right_testimonials {
			width:~"calc(100% - 270px)";

			.testimonial_tab_container {
				.tab_item {
					display: none;
					&.tab_1 {
						display: block;
					}
					.testimonial_title {
						font-size: 24px;
						.ptserif_font();
						font-weight: 700;
						color: #000;
						padding: 40px 50px 15px 40px;
					}
					.test_imonial_address {
						color:#cdcccb;
						font-size: 	12px;
						display: block;
						padding: 0 40px 24px 40px;

							i {
								margin-right: 10px;
							}
					}
					span.cite {
						padding: 0 40px 38px 40px;
						display: block;
						font-size: 22px;
						font-style: italic;
						.ptserif_font();
						line-height: 30px;
					}

					.testimonial_gallery {
						display: flex;
						margin-bottom: 40px;

						a {
							display :block;
							max-width: 100%;
							height: auto;
							img {
								&:hover {
									transition: width 2s, height 4s;
								}
							}
						}
					}
					a:focus {
						outline: none;
					}
					p.testimonial_description {
						padding: 0 40px 35px 40px;
						font-size: 13px;
						color: #7b7a79;
						line-height: 24px;
					}
				}
			}
			.test_imonialslider_box {
				display: flex;
				align-items:stretch;
				.left_arrow, .right_arrow {
					width: 59px;
					height: 243px;
					background: #fff3ef;
					.left {
						display: flex;
						width: 100%;
						height: 100%;
						align-items: center;
						justify-content: center;
						-webkit-transition: all 700ms ease-in-out; /* Safari */
  					transition: all 700ms ease-in-out;
  					color: @orange;
  					font-size: 20px;
  					cursor: pointer;

						&:hover {
							color: #fff;
							-webkit-transition:all 700ms ease-in-out; /* Safari */
  						transition:all 700ms ease-in-out;
  						background: linear-gradient(#5bb628, #3b901a);
						}

					}
				}
				.test_imonials_carousel {
					width:~"calc(100% - 118px)";
						display: flex;

					.person {
						width: 33.33333%;
						border-top:4px solid #fff3ef;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						position: relative;
						min-height: 239PX;


						h6.test_imonial_name {
						.ptserif_font();
						font-size: 16px;
						font-weight: 700;
						}
						span.address {
							color:#e0ccc2;
							font-size: 11px;
							line-height: 24px;
						}
						img {
							border-radius:100%;
							border: 11px solid transparent;
							margin-bottom: 15px;
							margin-top: 16%;
						}

						&.active {
								&::before {
							content: "";
						    display: block;
						    width: 0;
						    height: 0;
						    border-style: solid;
						    border-width: 0 12px 12px 12px;
						    border-color: transparent transparent #fff3ef transparent;
						    position: absolute;
						    top:0;
						    left:50%;
						    margin-left: -12px;
						    margin-top: -12px;
						}
						&::after {
								content: "";
						    display: inline-block;
						    width: 0;
						    height: 0;
						    border-style: solid;
						    border-width: 0 8px 8px 8px;
						    border-color: transparent transparent #fff transparent;
						    position: absolute;
						    top:0;
						    left:50%;
						    margin-left: -8px;
						    margin-top: -8px;

						}
							img {
								border: 11px solid #fff3ef;

							}
						}
					}
				}
				
			}
		}
	}
}


.container_shadow {
	margin-bottom: 40px;
	box-shadow:0 34px 65px rgba(177,82,33,0.11);
}


.adds_box {
	.three_boxes {
		display: flex;
		align-items: stretch;
		margin-bottom: 76px;
		.item {
			width: 33.33333%;
			min-height: 234px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 35px;
			box-sizing: border-box;

			.adds_title {
				.fredoka_font();
				font-size: 40px;
				color: #fff;
				line-height: 40px;
				margin-bottom: 9px;
			}
			.adds_link {
				font-size: 10px;
				color: #fff;
				text-decoration: none;
				.quicksand_font();
				text-transform: uppercase;
				display: block;

				&:hover {
					text-decoration: underline;
				}
			}

			&.item_1 {
				background: url('../img/additional/block1.jpg') no-repeat center ;
				box-shadow: 0px 45px 50px -35px rgba(225,116,43,.65);
			}
			&.item_2 {
				background: url('../img/additional/block2.jpg') no-repeat center ;
				box-shadow: 0px 45px 50px -35px rgba(75,163,33,.65);
			}
			&.item_3 {
				background: url('../img/additional/block3.jpg') no-repeat center ;
				box-shadow: 0px 45px 50px -35px rgba(218, 45, 80, 0.65);
			}
		}
	}
}

.top_footer {
	.footer_container {
		display: flex;
		margin-bottom: 82px;

		.twitter_box {
			h6 {
				color:#5ad2ff;
				
				font-size: 19px;
				.fredoka_font();
				margin-bottom: 25px;
			}
			i {
				color: #5ad2ff;
				margin-right: 8px;
				font-size: 24px;
			}
			.tweet_slider {
				display: flex;
				.arrows {
					width: 35px;
					display: block;
					i {
						font-size: 14px;
						color:#c1a392;
						display: block;
						padding: 3px 0;
						cursor: pointer;
						margin-left: 5px;
						transition: 300ms ease-in-out;

						&:hover {
							color: gray;
							transition: 300ms ease-in-out;
						}
					}
				}
				.content_slider_tweeter {
					width: ~"calc(100% - 1px)";
					p {
						color:#7b7a79;
						font-style: italic;
						.ptserif_font();
						font-size: 13px;
						margin-bottom: 13px;
						line-height: 18px;
					}
					.author {
						a {
							color :#5ad2ff;
							font-size: 11px;
							font-weight: 700;
						}
					}
					span.time {
							color: #cdcac6;
							font-size: 11px;
					}
				}
			}
		}

		.navigation_box, .contacts_box, .twitter_box{
			width: 33.33333%;
		}
		.contacts_box {
			color:#7b7a79;
			h6.widget_title {
				color: @orange;
				font-size: 18px;
				.fredoka_font();
				line-height: 18px;
				margin-bottom: 25px;

			}
			span {
				display: block;
			}
			.phone {
				color:#918f8b;
				font-size: 29px;
				.quicksand_font();
				font-weight: 400;
				margin-bottom: 20px;

			}
			a {
				color: inherit;
				text-decoration: none;
				margin-bottom: 22px;
				display: block;
				&:hover {
					text-decoration: underline;
				}
			}
			i {
				color: #c5c3c2;
				margin-right: 10px;
			}
		}

		.navigation_box {
			display:flex;
			h6.widget_title {
				color: @orange;
				font-size: 18px;
				.fredoka_font();
				line-height: 18px;
				margin-bottom: 28px;
			}
			nav ul {
				font-size: 11px;
				color: #7b7a79;
				line-height: 24px;

				a {
						text-decoration: none;
						color: inherit;

						&:hover {
							text-decoration: underline;
						}
				}
			}

			.navigation_one, .navigation_two {
				width: 50%;
			}
		}
	}
}

footer.footer {
	background: @orange;
	color: #fff;
	min-height: 221px;
	position: relative;

	.buttons_foter {
		display: flex;
		align-items: center;
		min-height: 134px;
		justify-content: center;

		.copy_right {
			margin-left: 20px ;
			border-left: 1px solid rgba(255,255,255,.2);
			padding-left: 20px;
			padding: 6px 0 6px 20px;
			font-size: 11px;
		}

		ul {
			li {
				display: inline-block;
				background: #fff;
				color: @orange;
				padding: 5px ;
				margin-left: 9px;
				padding:5px 0 ;
				border-radius: 10px;
				width: 24px;
				font-size: 14px;
				text-align: center;
				margin: 5px;
				position: relative;
				&:hover {
						text-shadow: 3px 3px 5px #ff742b;
					}

				a {
					padding: 5px;

				}
			} 
		}
	}

	&::before {
		 content: "";
		 display: block;
		 position: absolute;
		 top:0;
		 left: 0;
		 width: 100%;
		 height: 10px;
		 background: linear-gradient(#f95529,#ff732b);
	}

	.footer_navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 86px;
		border-bottom: 2px dashed rgba(255,255,255,0.2);
		flex-direction:column;

		ul {
			font-size: 0;
			text-align: center;



			li {
				display: inline-block;
				font-size: 12px;
				.quicksand_font();
				text-transform: uppercase;


				a {
					transition: all 300ms ease-in-out;


					&:hover {
						opacity: 0.8;
						text-decoration: underline;
					}
				}


				&:first-child {
					&::before {
						display: none;
					}
				}

				&::before {
					content: " • ";
					margin-left: 28px;
					margin-right: 28px;
					display: inline-block;
				}
			}
		}
	}

	a {
		color: inherit;
		text-decoration: none;

	}
}


// responsive code start 
@media only screen and (max-width:960px) {
	.wrapper{
		width: ~"calc(100% - 20px)";
	}
}


@media (min-width: 768px ) and (max-width: 875px) {
		.header-top .inner_header nav > ul > li{
		margin: 0 8px;
		
	}
}
@media only screen and (max-width: 800px) {
	.header-top .inner_header .main_navigation > i {
		display: none;
	}
}

@media only screen and (max-width: 769px) {
	.header-top .inner_header nav > ul {
		display: none;
		position: relative;
		
	}
	.header-top .inner_header .main_navigation .fa-bars {
		color: #fff;
		display: block;
		margin-left: 20px;
	}
	.header-top .inner_header .main_navigation .fa-times {
		color: #fff;
		display: none;
		margin-left: 20px;
	} 
	.header-top .inner_header .main_navigation {
		display: flex;
	}
	.header-top .inner_header nav > ul > li {
		margin: 0 3px;
		z-index: 20;
		
	}
	.header-top .inner_header nav > ul {
		margin-left: 50px;
		position: absolute;
		top: 0;
		left: ;
	}
	.home_slider .slide .slide_title {
		font-size: 40px;
		line-height: 50px;
	}
	.home_slider .slide {
		height: 400px;
	}
	.home_slider .slide .slide_data {
		height: 300px;
	}
	.home_slider .slide .slide_title>h2 {
		margin: 66px ;
	}
	.blog_testimonials .blog_container .right_testimonials .test_imonialslider_box .test_imonials_carousel .person img {
		max-width: 90%  ;
	}
	.blog_testimonials .blog_container .right_testimonials .test_imonialslider_box .test_imonials_carousel .person h6.test_imonial_name {
		font-size: 12px;
	}
	.adds_box .three_boxes .item {
		min-height: 175px;

	}
	.adds_box .three_boxes .item .adds_title {
		font-size: 30px;
	}
}

@media only screen and (max-width: 550px) {
	.home_slider .slide .slide_title {
		font-size: 24px;
		line-height: 28px;
		text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
		margin-top: -5%;
	}
	.home_slider .slide .slide_description {

	}
	.home_slider .slide .slide_description {
	  width: 100%;
    z-index: 2;
    padding: 0;
    margin: 0;
    text-align: center;
    
	}
	.home_slider .slide .slide_data {
		display: block;
		min-height: 0;
	}
	.home_slider .slide {

	}

	.home_slider .slide .slide_description .data_type {
		padding-top: 25px;
	}
	.home_slider .slide .image_price {
		width: 100%;
		padding: 0;
		margin: 0;

	}
	.home_slider .slide .image_price .slide_price span {

	}
	section.about_us span.subtitle {
		font-size: 18px;
	}
	.info_box .info_align {
		flex-direction: column;
	}
	.info_box .video_box {
		width: 100%;
	}
	.info_box .author_box {
		width: 100%;
		min-height: 310px;
	}
	.shop_slide .top_title_line .shop_box_title {
		font-size: 19px;
	}
	.shop_slide .top_title_line .shop_slider-navigation {
		width: 90px;
	}
	.shop_slide .top_title_line .shop_category {
		padding-right: 5px;
	}
	.item_image {
		margin: 0;
	}
	.information_box .banana_box h3.title_box {
		letter-spacing: 0.1em;
	}
	.information_box .banana_box p.description {
		font-size: 18px;
		line-height: 24px;
	}
	.blog_testimonials .blog_container {
		flex-direction: column;
		width: 100%;
	}
	.blog_testimonials .blog_container .left_blog {
		width: 100%;
	}
	.blog_testimonials .blog_container .right_testimonials {
		width: 100%;
	}
	.adds_box .three_boxes {
		flex-direction: column;
		align-items: center;
	}
	.adds_box .three_boxes .item {
		width: 100%;
		margin-bottom: 30px;
		max-width: 320px;
	}
	.top_footer .footer_container {
		// flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.top_footer .footer_container .navigation_box {
		width: 100%;
		margin-bottom: 30px;
		max-width: 320px;
	}
	.top_footer .footer_container .contacts_box {
		width: 50%;
	}
	.top_footer .footer_container .contacts_box .phone {
		font-size: 22px;
	}
	.top_footer .footer_container .navigation_box {
		margin: 0 20%;
		margin-bottom: 20px;
	}

.home_slider .slide .slide_title {
		font-size: 24px;
		line-height: 28px;
		text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
		margin-top: -5%;
	}
	.home_slider .slide .slide_description {

	}
	.home_slider .slide .slide_description {
	  width: 100%;
    z-index: 2;
    padding: 0;
    margin: 0;
    text-align: center;
    
	}
	.home_slider .slide .slide_data {
		display: block;
		min-height: 0;
	}
	.home_slider .slide {

	}

	.home_slider .slide .slide_description .data_type {
		padding-top: 25px;
	}
	.home_slider .slide .image_price {
		width: 100%;
		padding: 0;
		margin: 0;

	}
	.home_slider .slide .image_price .slide_price span {

	}
	section.about_us span.subtitle {
		font-size: 18px;
	}
	.info_box .info_align {
		flex-direction: column;
	}
	.info_box .video_box {
		width: 100%;
	}
	.info_box .author_box {
		width: 100%;
		min-height: 310px;
	}
	.shop_slide .top_title_line .shop_box_title {
		font-size: 19px;
	}
	.shop_slide .top_title_line .shop_slider-navigation {
		width: 90px;
	}
	.shop_slide .top_title_line .shop_category {
		padding-right: 5px;
	}
	.info_box .video_box figure img.responsive_video {
		display: block;
	}
	.info_box .video_box img {
		display: none;
	}
	.top_footer .footer_container .contacts_box {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.top_footer .footer_container .twitter_box {
		text-align: center;
		width: 100%;
	}
	.top_footer .footer_container .navigation_box {
		text-align: center;
	}
.top_footer .footer_container .twitter_box .tweet_slider .content_slider_tweeter p {
	width: 90%;
}
footer.footer .footer_navigation ul li::before {
	display: none;
	padding: px;
}
footer.footer .footer_navigation ul li a{
	padding: 4px;
}



}
@media (min-width: 200px) and (max-width: 414px) {
	.home_slider .slide .slide_title {
		font-size: 24px;
		line-height: 28px;
		text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
		margin-top: -5%;
	}
	.home_slider .slide .slide_description {

	}
	.home_slider .slide .slide_description {
	  width: 100%;
    z-index: 2;
    padding: 0;
    margin: 0;
    text-align: center;
    
	}
	.home_slider .slide .slide_data {
		display: block;
		min-height: 0;
	}
	.home_slider .slide {

	}

	.home_slider .slide .slide_description .data_type {
		padding-top: 25px;
	}
	.home_slider .slide .image_price {
		width: 100%;
		padding: 0;
		margin: 0;

	}
	.home_slider .slide .image_price .slide_price span {

	}
	section.about_us span.subtitle {
		font-size: 18px;
	}
	.info_box .info_align {
		flex-direction: column;
	}
	.info_box .video_box {
		width: 100%;
	}
	.info_box .author_box {
		width: 100%;
		min-height: 310px;
	}
	.shop_slide .top_title_line .shop_box_title {
		font-size: 19px;
	}
	.shop_slide .top_title_line .shop_slider-navigation {
		width: 90px;
	}
	.shop_slide .top_title_line .shop_category {
		padding-right: 5px;
	}
	.info_box .video_box figure img.responsive_video {
		display: block;
	}
	.info_box .video_box img {
		display: none;
	}
	.top_footer .footer_container .contacts_box {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.top_footer .footer_container .twitter_box {
		text-align: center;
		width: 100%;
	}
	.top_footer .footer_container .navigation_box {
		text-align: center;
	}
.top_footer .footer_container .twitter_box .tweet_slider .content_slider_tweeter p {
	width: 90%;
}
footer.footer .footer_navigation ul li::before {
	display: none;
	padding: px;
}
footer.footer .footer_navigation ul li a{
	padding: 4px;
}

}

@media (min-width:701px) and (max-width: 830px) {
.info_box .author_box {
	background: #54a826 url(../img/additional/man-responsive.png) no repeat right bottom;
	background-position: -100px -20px;
}
}
@media (min-width: 200px) and (max-width: 700px) {

	.info_box .info_align {
		flex-direction: column;
	}
	.info_box .video_box {
		width: 100%;
	}
	.info_box .author_box {
		width: 100%;
		min-height: 310px;
	}
	.shop_slide .top_title_line .shop_box_title {
		font-size: 19px;
	}
	.shop_slide .top_title_line .shop_slider-navigation {
		width: 90px;
	}
	.shop_slide .top_title_line .shop_category {
		padding-right: 5px;
	}
	.info_box .video_box figure img.responsive_video {
		display: block;
	}
	.info_box .video_box img {
		display: none;
	}

	}



@media only screen and (max-width: 768px) {
	.container_responsive_button {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.0);
  overflow: hidden;
  z-index: 444;
  .fredoka_font();
}

/* Toggle functionality */
#toggle {
  position: absolute;
  left: -100%;
  top: -100%;

}

#toggle:focus ~ .toggle-container .button-toggle {
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9);
}

#toggle:checked ~ .toggle-container .button-toggle {
  box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9);
}

#toggle:checked ~ .toggle-container .button-toggle:hover {
  box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9), 0 0 0 8px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle:before {
  -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
      -ms-transform: translateY(-50%) rotate(45deg) scale(1);
          transform: translateY(-50%) rotate(45deg) scale(1);
}

#toggle:checked ~ .toggle-container .button-toggle:after {
  -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
      -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
          transform: translateY(-50%) rotate(-45deg) scale(1);
}

#toggle:checked:focus ~ .toggle-container .button-toggle {
  box-shadow: 0 0 0 550px rgba(255, 255, 255, 1), inset 0 0 0 20px rgba(0, 0, 0, 0.9), 0 0 0 8px rgba(255, 255, 0, 0.5), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
	
}

#toggle:checked ~ .nav {
  margin-bottom: 100px;
  pointer-events: auto;
  -webkit-transform: translate(50px, 50px);
      -ms-transform: translate(50px, 50px);
          transform: translate(50px, 50px);
}

#toggle:checked ~ .nav .nav-item {
  color: #EC7263;
  letter-spacing: 0;
  height: 18px;
  background: ;
  line-height: 0;
  margin-top: 0;
  opacity: 1;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.5s, opacity 0.1s;
  transition: 0.5s, opacity 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#toggle:checked ~ .nav .nav-item:nth-child(1):before {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#toggle:checked ~ .nav .nav-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(2):before {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#toggle:checked ~ .nav .nav-item:nth-child(3) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#toggle:checked ~ .nav .nav-item:nth-child(3):before {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#toggle:checked ~ .nav .nav-item:nth-child(4) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#toggle:checked ~ .nav .nav-item:nth-child(4):before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#toggle:checked ~ .nav .nav-item:before {
  opacity: 0;
}

#toggle:checked ~ .dummy-content {
  padding-top: 0;
}

#toggle:checked ~ .dummy-content:before {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Toggle button */
.button-toggle {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button-toggle:hover {
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

.button-toggle:before, .button-toggle:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EC7263;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

// .button-toggle:before {
//   -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
//       -ms-transform: translateY(-50%) rotate(45deg) scale(0);
//           transform: translateY(-50%) rotate(45deg) scale(0);
// }

.button-toggle:after {
  -webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
      -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
          transform: translateY(-50%) rotate(-45deg) scale(0);
}

/* Menu */
.nav {
  display: inline-block;
  margin: 25px 25px 20px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;

  	.responsive_submenu {
  		display: none;
  	}

}

.nav-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 16px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 6px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transform: scaleY(0.2);
      -ms-transform: scaleY(0.2);
          transform: scaleY(0.2);
  -webkit-transition: 0.5s, opacity 1s;
  transition: 0.5s, opacity 1s;
}
#toggle:checked ~ .nav .nav-item {
	margin-top: 25%;
	text-decoration: none;
}


.nav-item:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.nav-item:nth-child(1):before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.nav-item:nth-child(2):before {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(3):before {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.nav-item:nth-child(4):before {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.nav-item:nth-child(1) {
  letter-spacing: -8px;
}

.nav-item:nth-child(2) {
  letter-spacing: -7px;
}

.nav-item:nth-child(n + 4) {
  letter-spacing: -8px;
  margin-top: -7px;
  opacity: 0;
}

.nav-item:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EC7263;
  -webkit-transform: translateY(-50%) scaleY(5);
      -ms-transform: translateY(-50%) scaleY(5);
          transform: translateY(-50%) scaleY(5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Dummy content */

.dummy-content {
  position: relative;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dummy-content:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.circle {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: #EC7263;
  border-radius: 100%;
}

.text {
  margin: 15px 0 30px;
}

.text span {
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  background-color: #C06162;
  border-radius: 5px;
}

.text span:first-child {
  width: 50px;
}

.text span:last-child {
  width: 80px;
}

.square-top {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  background-color: #FEBE7E;
  z-index: 1;
}

.square-behind {
  display: inline-block;
  position: relative;
  top: -256px;
  width: 250px;
  height: 210px;
  background-color: #C28683;
}

.square-behind:before, .square-behind:after {
  position: absolute;
  content: '';
  top: 0;
  width: 40%;
  height: 100%;
}

.square-behind:before {
  left: 0;
  background-color: #9D567C;
}

.square-behind:after {
  right: 0;
  background-color: #958C6B;
}
}

@media only screen and (max-width: 840px)  {
.blog_testimonials .blog_container .right_testimonials .test_imonialslider_box .test_imonials_carousel .person img {
	width: 200px;
	margin: 0;
}
}







